
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
  }
  html,body{
    height: 100%;
    width: 100%;
    background-color:#f7f7f7;

  }
#nav{
    /* height: 100px; */
    width: 100%;
    /* background-color: rgba(0, 0, 0, 0.422); */
    position: fixed;
    z-index: 90;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }

  #nav-part1{
    /* background-color: red; */
    height: 70px;
    overflow: hidden;

  }
  #nav #tlogo{
    height: 50px;
    width: 160px;
    margin: 10px;
    display: block;
  }
  #nav #sflogo{
    height:60px;
    width: 90px;
    margin: 8px;
    padding: -5px;
    display: block;
  } 
  #nav #nav-part2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 35px;
  }
  #nav-part2 #links a{
    text-transform: uppercase;
    text-decoration: none;
    color: #333;
    font-weight: 500;
    font-size: 14px;
    margin:0 20px ;
  }
  #links{
    padding: 25px;
  }
  #icons{
    padding: 10px;
    border-radius: 50px;
    background-color: #f7f7f7;
    margin-right: 20px;
  }
  #nav-part2 #icons i{
    font-size: 18px;
    margin:0 20px;
    font-weight:100 ;
  }

  #cursor{
    height: 180px;
    width: 180px;
    border-radius: 50%;
    background-color: rgba(224, 139, 189, 0.814);
    position: fixed;
    transform: translate(-50%, -50%) scale(0);
    z-index: 2;
    /* scale: 0; */
  }
  *::selection{
    color: #fff;
    background-color: #000;
  }
  #page1{
    min-height: 100vh;
    position: relative;
    width: 100vw;
    padding: 0 2vw;
    padding-top: 20vh;
  }
  #page1 h1{
    font-size: 13.2vw;
    font-family: futura;
    text-transform: uppercase;
    line-height: 12vw;
    letter-spacing: -5px;
  }
  #video-container{
    height: 100vh;
    width: 100%;
    background-color: aliceblue;
    margin-top: 1vw;

  }
  #video-container video{
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  #play{
    padding: 3vw 2.3vw;
    background-color: rgba(0, 0, 0, 0.422);
    color: #fff;
    font-size: 1.3vw;
    font-family: futura;
    text-transform: uppercase;
    position: fixed;
    border-radius: 50%;
    opacity: 0;
    scale: 0;
    top: 0;
    left: 0;
    
  }
  #words{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 100px;
    margin-left: 25px;
    padding-right: 50px;
  }
  #words h3{
    text-transform: uppercase;
    font-weight: 100;
    font-size:18px;
    /* font-family: futura; */
  }
  
  #linebw hr{
    background-color: #000;
    border-top: 1.7px solid #333;
    margin-left: 25px;
    margin-right: 25px;
  }
  #page2{
    height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3vw 2vw;
  }
#page2 .elem{
  height: 100%;
  width: 32%;
  /* background-color: aquamarine; */
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
#page2 .elem img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  scale: 1.1;
}
#page2 .elem .dets{
  height: 60px;
  width: 80%;
  /* background-color: #8aaad6; */
  z-index: 9;
  position: absolute;
  /* top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-transform: uppercase;
  /* font-weight: 400;\ */
  font-size: 16px;
  font-family: "Helvetica Now Text", "Lucida Sans", Tahoma, sans-serif;

}
#dets1{
  background-color: #fff6de;
}
#dets2{
  background-color: #8aaad6;
}
#dets3{
  background-color: #ffffff;
}
#page2 .elem .dets:hover{
  height: 200px;
}

@media (max-width: 600px){
  #page1 h1{
    font-size: 13.5vw;
    letter-spacing: -3px;
  }
  #page1{
    min-height: 70vh;
    width: 100vw;
    padding: 0 3vw;
    padding-top: 25vh;
  }
  #video-container{
    height: 25vh;
    margin-top: 3vw;

  }
  #page2{
    height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 5vw 1vw;
  }
  
}
#bwp2p3{
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 70vh;
  margin: 0 4vw;
  gap: 5vw;
  margin-top: -2vw;
  margin-bottom: 2vw;
}
#slogan{
  font-size: 4.8vw;
  font-family: futura;
  text-transform: uppercase;
  color: #000;
  width: 200vw;
}
#slogandesc{
  font-size: 1.5vw;
  font-family: "Helvetica Now Text", "Lucida Sans", Tahoma, sans-serif;
  font-weight: 100;
  margin-left: -40px;
}
#slogandesc #para{
  margin-top: 60px;
}
#shopcraft{
  margin-top: 60px;
  /* padding: 0 40px; */
}
#shopcraft a{
  text-decoration: underline;
  color: #000;
}

#page3{
  min-height: 120vh;
  width: 100%;
  background-color: #f7f7f7;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.child{
  height: 54vh;
  width: 38vw;
  background-color:#f7f7f7;
  display: flex;
  align-items: center;
  justify-content: center;

}
.child img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}